.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 200,
        'opsz' 48
}

.extend-button {
    cursor: pointer;
    color: var(--grey);
    font-size: 5vh;
}

.container {
    height: 100vh;
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.settings-bar {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vmin;
}

.game-header {
    color: var(--grey);
    font-size: 5.4vmin;
}

.game-settings-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
}

.game-settings-container h4 {
    font-size: 3vmin;
}

.game-stage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vmin;
}

.game-stage-container h3 {
    font-size: 5vmin;
}

.hide {
    display: none;
}

.exit-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exit-btn-container span {
    font-size: 8vmin;
    cursor: pointer;
}

.loader-container {
    height: 8vmin;
}