<div class="container">
    <div *ngIf="isExtended" class="settings-bar">
        <h1 class="game-header">UltimateTicTacToe</h1>
        <div class="game-settings-container">
            <h4>Player Sign: {{gVars.playerSign}}</h4>
            <h4>Game Mode: {{gVars.gameMode}}</h4>
        </div>
        <div class="game-stage-container">
            <h3>Current Stage:</h3>
            <h3>{{gVars.gameStagePub}}</h3>
            <div class="loader-container">
                <div class="lds-ellipsis" [ngClass]="{'hide': !gVars.isProcessing}">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="exit-btn-container">
            <span colorReact class="material-symbols-outlined" (click)="endGame()">
                logout
            </span>
        </div>
    </div>
    <span (click)="extend()" *ngIf="!isExtended" class="material-symbols-outlined extend-button ">
        arrow_forward_ios
    </span>
    <span (click)="extend()" *ngIf="isExtended" class="material-symbols-outlined extend-button ">
        arrow_back_ios
    </span>
</div>