:root {
    --main-tint: #495057;
    --main: #343a40;
    --main-shade: #212529;

    --main-gradient: linear-gradient(0deg, var(--main-shade) 40%, var(--main) 100%);

    --grey: #888;
    --hover: #999;
    --active: #555;
    --highlight: #ddd;

    --ratio: calc(9/16);
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    color: var(--grey);
}


.color-react {
    color: var(--grey);
}

.color-react:hover {
    color: var(--hover);
}

.color-react:active {
    color: var(--active);
}