.main-container {
    width: 100vw;
    height: 100vh;
    background-image: var(--main-gradient);
    display: flex;
}

.board-container {
    width: min(90vh, 100vw * var(--ratio));
    height: min(90vh, 100vw * var(--ratio));
    margin: auto;
}