.container {
    padding: 10% 20%;
}

h1 {
    font-size: 9vmin;
}

h3 {
    font-size: 5vmin;
    margin-bottom: 4vh;
}

h4 {
    font-size: 3vmin;
}

.credits {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.options-panel {
    margin-top: 16vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.button {
    margin: auto;
    cursor: pointer;
}

.hide {
    display: none !important;
}

.selected {
    color: var(--highlight);
}

.page-with-return {
    display: flex;
    flex-direction: column;
}

.return-btn {
    cursor: pointer;
    font-size: 5vmin;
    display: block;
    width: fit-content;
    height: fit-content;
}

.settings-page {
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 5vmin;
    margin-top: 5vh;
}

.setting-label {
    font-size: 6vmin;
    margin-right: 8vmin;
}

.server-url {
    background-color: transparent;
    border-style: solid;
    border-color: var(--grey);
    border-width: 0 0 0 0.4vmin;
    padding-left: 1vmin;
    font-size: 5vmin;
    text-align: center;
}

.server-url:focus {
    outline: none;
}

.signs-container {
    display: flex;
    flex-direction: row;
    gap: 4vmin;
    margin: auto;
}

.signs-container h1 {
    cursor: pointer;
}

.board-size {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    gap: 3vmin;
}

.plus-style {
    font-size: 7vmin;
    cursor: pointer;
}


select {
    background: transparent;
    font-size: 5vmin;
    border: none;
    margin: auto;
    width: 40%;
}

select:focus {
    outline: none;
}