<div class="container">
    <!-- WelcomePage -->
    <div [ngClass]="{'hide': !displayWelcome}">
        <div class="credits">
            <h1>UltimateTicTacToe</h1>
            <h3>A ZPR project.</h3>
            <h4>Credits</h4>
            <h4>Mateusz Gurdała</h4>
            <h4>Krystian Grela</h4>
        </div>

        <div class="options-panel">
            <h3 colorReact class="button">Start Game</h3>
            <h3 colorReact class="button">Join Game</h3>
            <h3 colorReact class="button" (click)="optionsClick()">Options</h3>
        </div>
    </div>
    <!-- OtherPages -->
    <div [ngClass]="{'hide': displayWelcome}" class="page-with-return">
        <span class="material-symbols-outlined return-btn" (click)="returnClick()" colorReact>
            arrow_back_ios
        </span>
        <!-- OptionsPage -->
        <div [ngClass]="{'hide': !displayOptions}" class="settings-page">
            <div class="setting-container">
                <h4>Server IP</h4>
                <input type="text" value="localhost:4200" class="server-url" />
            </div>
            <div class="setting-container">
                <h4>Preferred Sign</h4>
                <div class="signs-container">
                    <h1 [ngClass]="{'selected': xIsChosen}" (click)="selectSign($event)">X</h1>
                    <h1 [ngClass]="{'selected': !xIsChosen}" (click)="selectSign($event)">O</h1>
                </div>
            </div>
            <div class="setting-container">
                <h4>Game Mode</h4>
                <select>
                    <option>AI Enemy</option>
                    <option>Player</option>
                </select>
            </div>
            <div class="setting-container">
                <h4>Board Size</h4>
            </div>
        </div>
    </div>
</div>